/* ################################################################### */

@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

p,
a,
li,
h1,
h2 {
    color: #dddddd;
}

a:hover {
    cursor: pointer;
    color: #39b7dd;
}

h3 {
    color: #39b7dd;
}

label {
    color: #dddddd;
}

body {
    background: #444;
}

select {
    color: #39b7dd;
}

/* Style for navbar */
.navbar {
    background-color: #333333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Links inside the navbar */
.navbar a {
    float: left;
    color: #ddd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #444444;
    color: #39b7dd;
}

/* Add some space at the top of the container to prevent content from being hidden */
.container {
    margin-top: 60px;
}

.wrapper {
    position: absolute;
    top: 120px; /* adjust this value to set the distance from the top */
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    max-width: 800px;
    background: #333;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.wrapper .title h1 {
    color: #dddddd;
    text-align: center;
    margin-bottom: 25px;
}
.wrapper .title h3 {
    color: #39b7dd;
    text-align: center;
    margin-bottom: 25px;
}

.contact-form {
    display: flex;
    width: 100%;
}

.input-fields {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input-fields,
.msg {
    width: 100%;
}

.input-fields .input,
.msg textarea {
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid #39b7dd;
    padding: 10px;
    color: #39b7dd;
    width: 100%;
}
.msg {
    width: 100%;
    overflow: hidden;
}

.msg textarea {
    height: 212px;
}

.server-message {
    float: left;
    width: 50%;
    clear: both;
    margin: 5px 0;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
}

::-webkit-input-placeholder {
    color: #717171;
}
::-moz-placeholder {
    color: #717171;
}
:-ms-input-placeholder {
    color: #717171;
}

.btn {
    background: #39b7dd;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
    text-transform: uppercase;
}

button {
    background: #39b7dd;
    width: 200px;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    color: #333;
    cursor: pointer;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    .contact-form {
        flex-direction: column;
    }
    .msg textarea {
        height: 80px;
    }
    .input-fields,
    .msg {
        width: 100%;
    }
}

.chat-message {
    background-color: #39b7dd;
    float: right;
    width: 60%;
    clear: both;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.chat-input {
    height: 50px;
    width: 40vw;
    font-size: 24px;
    margin: 5px 0px 0px 0px;
    border-radius: 5px;
}

.chat-input:hover {
    background-color: rgb(230, 206, 247);
}

.chat-button-send {
    height: 50px;
    width: 10vw;
    font-size: 24px;
    margin: 5px 0px 0px 0px;
    border-radius: 5px;
}
